<nav class="d-flex mb-3" id="navBar">
  <div class="flex-row w-100  d-flex">
    <a routerLink="/" class="nav-item nav-link site-logo-text td-none">Pensando Peliculas</a>


      <div class="d-inline ml-auto" id="adminNavLinks" role="search" *ngIf="userName">
        <a class="td-none" routerLink="/admin">Admin</a>
        <a class="td-none" routerLink="/admin/review/insert">Post Review</a>
        <span (click)="logout()" style="color:purple" class="nav-link">Logout</span>
      </div>

  </div>
</nav>
