.review-poster-home {
  width: 200px;
  margin-right: 2em;
  margin-bottom: 10px;
}

.revew-header-preview {
  max-width: 100%;
}

.thumbnail {
  max-width: 200px;
}

label {
  font-weight: bold;
}

.poster-image {
  height: 400px !important;
}

.auto-complete-list-item {
  text-decoration: none;
  border: 1px solid black;
  padding: 2px;
  background-color: white;
}

.auto-complete-list {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

.auto-complete-input {
  margin-bottom: 3px;
}


#reviewScoreInput {
  width: 155px;
}
